body { margin: 0; 	background-color: #555;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
canvas {
	background-image: url('./base_img/w1r03.webp');
	background-repeat: no-repeat;
	background-size:contain;
	background-color: #555;
}

.menu ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.menu li {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	display: inline-block;
	user-select: none;
	cursor: pointer;
	margin: 5px 0;
	box-shadow: rgba(0, 0, 0, .2) 2px 2px 4px;
}
.menu li:hover {
	background-color: rgba(220, 220, 220, 0.8);
}

.menu {
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 10px;
}

.coordinate_input {
	position: absolute;
	top: 50px;
	right: 20px;
	width: 200px;
	height: calc(100vh - 100px);
}
.coordinate_input form, .coordinate_input textarea {
	height: 100%;
	width: 100%;
}

#title {
	border: 2px solid rgba(0, 0, 0, .2);
	text-align: center;
	padding: 5px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .8);
	position: absolute;
	top: 80px;
	right: 250px;
	width: 20px;
}
#title:hover {
	width: 440px;
}
#title p:first-child {
	display: block;
}
#title:hover p:first-child {
	display: none;
}
#title h1 {
	display: none;
	padding: 0px 10px;
	margin: 0;
}
#title>h2, #title>p {
	display: none;

}
#title>h2 {
	margin: 4px 0 0 0;
}
#title:hover>h1, #title:hover>p {
	display: block;
	text-align: left;
	padding: 5px 20px;
	margin: 0;
}
#title p:last-child {
	padding-bottom: 10px;
}
#title p {
	font-family: sans-serif;
}